extends ../base

block board 
  main(style=`background-color: ${board.backgroundColor}`, data-id=board._id)#board
    div.board__header
      div.board__title 
        h1=board.title 
      div.board__addList
        form.board__addList-form(method="POST")
          input(type="text", required ,placeholder="리스트의 제목을 입력하세요")  
          div.board__addList-submit
            button Add list 
    section
      ul.board-lists
        each list in board.lists
          li.board-list(draggable="true", data-id=list._id)
            div.board-list__title 
              input(value=list.title class="hidden editInput")
              button(class="hidden editBtn") edit
              h3=list.title
              i.fas.fa-ellipsis-h.moreList
              div.pop__over 
                div.pop__over__header 
                  span List actions 
                  i.fas.fa-times
                div.pop__over__main 
                  div.deleteList 
                    span Delete List 
                  div.editList 
                    span Edit List Title
            form.board-list__form
              input(type="text", required, name="title", placeholder="카드의 제목 입력...")
              button Add 
            div.board-list__tasks 
              //- div.board-list__task 
              //-   h6 card의 제목 
              //-   i.fas.fa-edit
          
block scripts 
  script(src="/static/js/createList.js") 
  if board.lists.length > 0
    script(src="/static/js/createCard.js") 
            
            

