extends ../base

block board 
  div.modal
    div.task__modal
      div.task__modal__header 
        div.task__modal__header-title
          i.fas.fa-tv
          h4 task Title 
          input.hidden.taskTitleInput(name="title", maxlength="20", required) 
        div.task__modal__close
          i.fas.fa-times
      div.task__modal__info 
        div.task__modal__label 
          div.task__modal__label-input
            label(for="label") <i class="fas fa-tag"></i> Label의 색깔을 고르세요! 
            input(type="color", name="label", id="label")
          div.task__modal__label-current.hidden
            h3 Label
            div.currentLabel
          button Create
        div.task__modal__description 
          div.task__modal__description__title 
            i.fas.fa-align-left 
            h6 Description 
          div.task__modal__description__content 
            textarea(placeholder="자세한 설명 추가...", rows="5", maxlength="200")
          div.task__modal__description__button 
            button Save 
        div.deleteTask 
          button Delete Task
  main(style=`background-color: ${board.backgroundColor}`, data-id=board._id)#board
    div.board__header
      div.board__title 
        h1=board.title 
      div.board__addList
        form.board__addList-form(method="POST")
          input(type="text", required ,placeholder="리스트의 제목을 입력하세요", maxlength="20")  
          div.board__addList-submit
            button Add list 
    section
      ul.board-lists
        each list in board.lists
          li.board-list(draggable="true", data-id=list._id)
            div.board-list__title 
              input(value=list.title class="hidden editInput",maxlength="20", required)
              button(class="hidden editBtn") edit
              h3=list.title
              i.fas.fa-ellipsis-h.moreList
              div.pop__over 
                div.pop__over__header 
                  span List actions 
                  i.fas.fa-times
                div.pop__over__main 
                  div.deleteList 
                    span Delete List 
                  div.editList 
                    span Edit List Title
            form.board-list__form
              input(type="text", maxlength="20", required, name="title", placeholder="카드의 제목 입력...")
              button Add 
            div.board-list__tasks 
              each task in list.tasks
                div.board-list__task(draggable="true", data-id=task._id)
                  if task.labelColor
                    div.labels(style=`background-color: ${task.labelColor}`)
                  else 
                    div.labels.hidden
                  h6=task.title
                  i.fas.fa-edit
                  
block scripts 
  script(src="/static/js/createList.js") 
  script(src="/static/js/sideScroll.js") 
            
            

